@mixin floating($border: 1px solid #ccc) {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    border: $border;
}
  
@mixin grid($num-elements-per-line) {
    display: flex;
    flex-wrap: wrap;
    > * {
      width: calc(100% / #{$num-elements-per-line});
    }
}
